* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0px;
}

.colorText {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.secHeading{
    /* text-align: right; */
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.nLeft {
    width: 14%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nLeft>h2>span {
    font-size: 1.5rem;
    color: #FF42A5;
}

.nRight {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#ash{
    background-color: gainsboro;
    padding: 0px 10px;
    border-radius: 10px;
}
.nRight ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nRight ul li {
    padding: 10px;
}

.nRight ul li a {
    text-decoration: none;
    color: black;
}

.nRight div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

/* banner */
.bannerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bLeft>h1>span {
    text-align: center;
    /* font-family: Work Sans; */
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}
.b1{
    font-weight: bold;
    background-color: #FF42A5;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    border: none;
}
#b3{
    color: #FF42A5;
    padding: 10px 20px;
    background-color: white;
    border-radius: 20px;
    border: none;
}
.bLeft #b2{
    
    background-color:#4EC5F7;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    border: none;
}

.support {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.support>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.support>div img {
    height: 20px;
}

.bRight {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.bRight>img {
    width: 100%;
}

/* main----------------------------- */
.section1,
.section2,
.section3,
.section4,
.section5 {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* section1 */

.section1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.s1L {
    width: 40%;
}

.s1L>img {
    width: 100%;
}

.s1R {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 40%;
}

/* section2 */
.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cardsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 10px;
}

.watchNow{
    height: 250px;
    width:210px;
    /* background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ) */
    /* filter: brightness(40%); */
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ff87c5;
    
    border-radius: 12px;
}
.watchNow border{
    visibility: hidden;
}
.watchNow img{
    visibility: hidden;
}
.watchNow p{
    visibility: hidden;
}
.card:hover{
    .watchNow img{
        visibility: visible;
    }
    .watchNow p{
        visibility: visible;
    }
    .watchNow{
        border: 5px solid #ff87c5;
    }
}
#c1{
    background-image:url("./images/Rectangle 4.png");
}
#c1:hover{
    background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("./images/Rectangle 4.png");
}

#c2{
    background-image:url("./images/Rectangle 5.png");
}
#c2:hover{
    background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("./images/Rectangle 5.png");
}
#c3{
    background-image:url("./images/Rectangle 7.png");
}
#c3:hover{
    background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("./images/Rectangle 7.png");
}
#c4{
    background-image:url("./images/Rectangle 6.png");
}
#c4:hover{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("./images/Rectangle 6.png");
}

/* section 3 */
.subsec1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.s31L {
    width: 30%;
    text-align: center;
}

.s31R {
    width: 40%;
    height: 400px;
    position: relative;
}

.s31R #horse {
    position: absolute;
    height: 350px;
    top: 0px;
    right: 0px;
    z-index: 1;
}

.s31R #cat {
    position: absolute;
    height: 200px;
    top: 200px;
    right: 220px;
    z-index: 2;
}
.subsec1,.subsec2{
    padding:30px 0px;
}
/* subsec 2 */

.subsec2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.s32R {
    width: 30%;
    text-align: center;
}

.s32L {
    width: 40%;
    height: 400px;
    position: relative;
}

.s32L #anime {
    position: absolute;
    height: 350px;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.s32L #tigu {
    position: absolute;
    height: 200px;
    top: 200px;
    left: 270px;
    z-index: 2;
}

/* section 4 */
.section4 {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-size: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.s4L {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

.posts {
    width: 100%;
}

.posts .post {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.s4R {
    width: 30%;
}

.s4R>img {
    width: 100%;
}

.section5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.genres {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;

}

.genre {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
}
.genre img{
    height: 30px;
}
.genre:hover{
    border: 2px solid  #FF42A5;
    color:#FF42A5
}

footer {
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0B0223;
    color: white;
    /* height: 300px; */
}

.fContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.fs1,
.fs2,
.fs3,
.fs4,
.fs5 {
    margin: 0px 0px;
}

.fs1 {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fs1 span{
    color: #FF42A5;
}

.fs2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.fs2 button {
    padding: 10px 10px;
    background: #0B0223;
    color: white;
    border: none;
}

.fs3 {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.fs3 img {
    height: 40px;
    border-radius: 50%;
}

.fs4 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.fs4 p{
    padding: 10px 10px;
}

.fs5 {
    width: 100%;
    text-align: center;
}
@media screen and (max-width: 600px) {
    .navContainer{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .nav {
        width: 70%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .nRight {

        flex-direction: column;
    }
    .bannerContainer {
        flex-direction: column-reverse;
    }
    .bRight {
        width: 80%;
    }
    .section1{
        flex-direction: column;
    }
    .s1L {
        width: 70%;
    }
    .s1R {
        width: 70%;
    }
    .cardsContainer{
        flex-direction: column;
    }
    .subsec1{
        flex-direction: column-reverse;
    }
    .subsec2{
        flex-direction: column;
    }
    .section4{
        flex-direction: column;
    }
    .fContent{
        width: 80%;
    }
    .fs2{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto;
    }
    .fs1{
        width: 50%;
        justify-content: center;
    }
    .genres{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto;
    }
    .subsec1{
        margin-bottom: 40px;
    }
    .s31R{
        width: 100%;
    }
    .s31L{
        width: 60%;
    }
    .s32L{
        width: 98%;
    }
    .s32L #tigu {
        left: 240px;
    }
    .s32R{
        width: 60%;
    }
    .nLeft {
        justify-content: center;
        width: 30%;
    }
    .bLeft>h1>span {
        font-size: 70px;
    }
    .post{
        margin-bottom: 10px;
    }
    .genre > p{
        font-size: small;
    }
}
@media screen and (max-width: 900px) {
    .cardsContainer{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
    }
    .subsec1,.subsec2{
        justify-content: space-around;
    }
    .genres{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto;
    }
    .fs2{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto;
    }
    .fs1{
        width: 50%;
        justify-content: center;
    }
}